# .env.example

# Database Configuration
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=''
DB_DATABASE=nestjs07_auth

NODE_ENV=true

# JWT Secret Key
JWT_SECRET=mysecretkey

# Port for the NestJS server
PORT=3000

# Other Environment Variables
# Add any other environment variables your application might need
